body, html {
    margin: 0;
    min-height: 100vh;
    min-width: 100vh;
}
/*
#grid-wrapper {
    height: 100vh;
    width: 100vw;
}*/

.ag-theme-alpine, .ag-theme-alpine-dark {
    display: flex;
    justify-content: center;
}

.ag-theme-alpine-dark {
    padding-left: 2em;
}

.MuiDrawer-paperAnchorLeft {
    min-width: 270px;
    max-width: 270px;
}

.MuiFormControlLabel-labelPlacementStart {
    margin: 0 !important;
    padding-left: 10px !important;
    width: 100%;
    justify-content: center;
}

.MuiAccordionSummary-content {
    justify-content: center;
}

.ag-header-cell {
    padding-right: 5px;
}

.ag-input-field-input {
    border-radius: 5px;
}

.ag-cell-value {
    display: flex !important;
    justify-content: left !important;
    align-items: center !important;
}

.ag-checkbox-input {
    margin-right: 10px;
    width: 100px
}

.ag-theme-alpine-dark .ag-input-wrapper {
    display: block !important;
}

.ag-theme-alpine-dark .ag-checkbox {
    margin-right: 1em;
}

.row-fail {
    background-color: #bfbfbf !important;
    color: #8d8d8d !important;
    pointer-events: none;
}

#validateButton {
    margin: 8px !important;
}

